main{
    font-family: 'Libre Bodoni', serif;
}
.libro-descripcion{
    font-family: 'Libre Bodoni', serif;
    color: $color_blanco;
}
.titulo{
    font-family: 'Koulen', cursive;
    color: $color_blanco;
}
