header{
    background-color: $fondo_primario;
}
main{
    background-color: $fondo_primario;
    
}
.bg-black{
    background-color: $background_negro;
}
.links-nav-bar{
    padding-left: 10px;
    }
    .carousel {
        width:200px;
        height:400px;
      }
.main-color{
    background-color: $bg_gris;
}